{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <section class="cours">
    
        {% for cour in cours %}
        <article>
            <h3> <a href="{{path('profile_show_cours', {'id' : cour.id})}}"> {{cour.title}}</a> </h3>
            <div class="metadata"> Ecrit le {{cour.createdAt | date('d/m/Y')}} à {{cour.createdAt | date('H:i')}} par </div>
            <hr>
        {% endfor %}
        </article>

    </section>    

    
{% endblock %}
