{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <section class="cours">
    
        {% for cour in cours %}
        <article>
            <h2> {{cour.title}} </h2>
            <div class="metadata"> Ecrit le {{cour.createdAt | date('d/m/Y')}} à {{cour.createdAt | date('H:i')}} par </div>
            <a href="{{path('site_show_cours', {'id' : cour.id})}}" class="btn btn-primary"> Acceder au cours </a>
            <hr>
        {% endfor %}
        </article>

    </section>    

    
{% endblock %}
