{% extends 'base.html.twig'%}

{% form_theme formCours 'bootstrap_4_layout.html.twig' %}

{% block title %}
	{% if editMode %}
		Modification du cours
	{% else %}
		Création d'un cours
	{% endif %}
{% endblock %}

{% block body%}

	{% if editMode %}
		<h1>
			Modification du cours
		</h1>
	{% else %}
		<h1>
			Création d'un cours
		</h1>
	{% endif %}

	{{ form_start(formCours)}}

	{{ form_row(formCours.title, {'label':'Titre', 'attr' : { 'placeholder' : 'Titre du cours'}}) }}

	{{ form_row(formCours.content, {'label':'Contenu', 'attr' : { 'placeholder' : 'Contenu du cours'}}) }}


	<button type="submit" class="btn btn-success">
		{% if editMode %}
			Enregistrer les modifications
		{% else %}
			Créer le cours
		{% endif %}
	</button>

	{{ form_end(formCours) }}


{% endblock %}
